body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game_screen {
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/bg/bg_main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

#beetle {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    cursor: pointer;
    touch-action: manipulation;
}

#beetle_image {
    width: 220px;
    display: block;

    user-select: none;
    -webkit-user-drag: none;
}